<h1>
  <%= @role.name %>
</h1>

<p>
  <% if current_user.admin? %>
    <%= link_to "Edit", [:edit, @role] %>
    <%= link_to "Remove", @role, method: :delete, data: { confirm: 'Are you sure?' }  %>
  <% end %>
  <%= link_to "Back to Index", :roles %>
</p>
